<div class="d-flex justify-content-center h-100">


  <div class="col-md-6">
    <h2 class="text-center">
      Bienvenue sur le panneau d'administration.
    </h2>
    <br>
 <div style="color: Black;">Nous avons actuellement <b style="color: Blue ; font-weight: bold;">130</b> élèves sur les 3 masters Informatiques !</div>
   <br>
    <div style="color: Black;"><b style="color: Blue ; font-weight: bold;">43</b> en PLS.</div>
   <br>
   <div style="color: Black;"><b style="color: Blue ; font-weight: bold;">40</b> en EI2D.</div>
   <br>
   <div style="color: Black;"><b style="color: Blue ; font-weight: bold;">47</b> en M3IR.</div>
   <br>
    </div>
    </div>

